.account {
  width: 100%;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.title {
  margin-top: 2rem;
}

.user-info {
  margin: 2rem 0;
}

.user-info h2 {
  color: var(--color-main-light);
}

.user-trails-list {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-container {
  width: 80%;
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  width: 9.6rem;
  height: 4rem;
}

.pagination-button {
  width: 9rem;
  height: 4rem;
  border-radius: 5px;
  background: rgb(36, 116, 7);
  background: linear-gradient(
    0deg,
    rgba(36, 116, 7, 1) 21%,
    rgba(50, 251, 23, 1) 100%
  );
  color: white;
  cursor: pointer;
  transition: 300ms ease-in;
}

.results-title {
  color: var(--color-main-dark);
}

.pagination-container h3 {
  color: var(--color-main-dark);
}


@media (max-width: 40em) {
.account {
  color: white;
}

.pagination-container h3 {
  color: white;
}

}
