.favorites {
  width: 100%;
  padding-bottom:3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80rem;
  color: black;
}

.title {
  color: black;
  margin-top: 1.6rem;
}

.favorites p {
  margin: 1.6rem;
}

.favorites-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 40em) {
.favorites {
  color: white;
}

.title {
  color: white;
}
}
