.login {
    width: 100%;
    height: 64rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    background-image: url('/public/imgs/tin-cup-high-1.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.log-in-form {
    width: 35.2rem;
    height: 40rem;
    padding: 1.6rem;
    background-color: #ffffffec;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 24%), 0 0 8px 0 rgb(0 0 0 / 8%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-header {
    margin-bottom: 4.8rem;
}

.login-input {
    width: 32rem;
    padding: 0 .4rem;
    height: 4rem;
    border: 1px solid #c1c1c1;
    border-radius: 7px;
    margin-bottom: 3.2rem;
}

.button {
    margin-bottom: 4rem;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: var(--color-main-light);
  height: 6rem;
  width: 32rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.button:hover {
    background-color: var(--color-main-dark);
}

.sign-up-link {
    color: #008000;
    cursor: pointer;
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
