.sign-up {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    background-image: url('/public/imgs/wonderland-trail-1.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.sign-up-form {
    width: 22rem;
    height: 30rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 24%), 0 0 8px 0 rgb(0 0 0 / 8%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-header {
    margin-bottom: 3rem;
}

.sign-up-input {
    width: 20rem;
    padding: 0 .25rem;
    height: 2.5rem;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 7px;
    margin-bottom: 2rem;
}

.button {
    margin-bottom: 2.5rem;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: var(--green);
  height: 3rem;
  width: 20rem;
  cursor: pointer;
}

.login {
    color: green;
    cursor: pointer;
}