.trail-detail {
  width: 90%;
  padding-bottom: 4rem;
  background-color: var(--secondary-green);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 58.85rem;
}

.favorites-button {
  font-size: 1.2rem;;
  margin-left: auto;
  margin-right: 1rem;
  position: relative;
  top: 2rem;
  border: none;
  color: yellowgreen;
  background-color: var(--primary-secondary);
  cursor: pointer;
}

.favorites-button:hover {
  color: white;
}

.star {
  position: absolute;
  right: 1.5rem;
}

.trail-detail a {
  color: rgb(185, 245, 65);
}

.trail-detail-info {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.trail-image {
  width: 100%;
  height: auto;
}

.info-header {
  width: 100%;
  /* min-height: 25rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-green);

}

.info-header h1 {
 padding: 1.6rem;
 margin: .8rem;
 background-color: var(--green);
 border-radius: 10px;
}

.info-header h3 {
 margin-bottom: .7rem;

}

.info-sub-header {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--green);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.easy {
  padding: .4rem;
  border-radius: 5px;
  background-color: green;
}

.moderate {
  padding: .4rem;
  border-radius: 5px;
  background-color: rgb(237, 116, 11);
}

.hard {
  padding: .4rem;
  border-radius: 5px;
  background-color: red
}

.very-hard {
  padding: .4rem;
  border-radius: 5px;
  background-color: rgb(133, 1, 1)
}

.description {
  width: 75%;
  min-height: 16rem;
  line-height: 2rem;
  margin: 4rem 0rem;
}

.select-trail-message {
  margin-top: 2rem;
  color: var(--primary-orange);
}

.map-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container h1{
 margin-bottom: 3.7rem;
}

.map-text-container {
  width: 75%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submitted-by {
  margin-top: 3rem;
}

@media (max-width: 53em) {
  .trail-detail {
    width: 100%;
  }

  .info-header h1 {
    transform: scale(.7);
    margin: 0;
  }

  .info-sub-header {
    font-size: .7rem;
  }

  .star {
    transform: scale(.7);
    top: -1rem;
    right: -1rem;
  }
}

@media (max-width: 44em) {

  .info-header h1 {
 font-size: 2.3rem;
}

.info-header h3 {
  font-size: 1.5rem;

}
  .info-sub-header {
  padding: .5rem .2rem;
}
  .info-sub-header h3 {
    font-size: 1rem;
    margin: 0 .4rem;
  }
}