.trail-search-results {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.trail-search-form-container {
    height: 4.5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 53em) {
    .trail-search-results {
        margin-top: 2rem;
    }
}

@media (max-width: 44em) {
    .trail-search-form-container {
    height: 4rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
}
    .trail-search-results {
        margin-top: 0rem;
    }
}