.trail-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail-detail {
  width: 90%;
  padding-bottom: 4rem;
  background-color: var(--color-main-mid);
  background-color: var(--color-main-dark);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 58.85rem;
  -webkit-box-shadow: 0px 3px 26px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 3px 26px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 3px 26px 0px rgba(0, 0, 0, 0.64);
}

.loading-spinner {
  margin-top: 20rem;
}

.favorites-button {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 1rem;
  position: relative;
  top: 2rem;
  border: none;
  color: yellowgreen;
  background-color: unset;
  cursor: pointer;
}

.favorites-button:hover {
  color: white;
}

.star {
  position: absolute;
  right: 1.5rem;
}

.trail-detail-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail-image {
  width: 100%;
  height: auto;
}

.info-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main-mid);
}

.trail-name {
  padding: 1.6rem;
  margin: 0.8rem;
  background-color: var(--color-main-light);
  border-radius: 10px;
}

.trail-wilderness {
  margin-bottom: 0.7rem;
}

.info-sub-header {
  width: 100%;
 background-image: url('../../assets/images/trail-detail-bg.jpg');
 background-size: cover;
 background-position: 50% 0%;
}

.info-sub-header-overlay {
  width: 100%;
  padding: .5rem 0;
  background-color: rgba(45, 131, 2, 0.685);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trail-stat {
  /* position: relative;
top: -3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail-stat h3 {
  line-height: 1;
}

.trail-stat-icon {
  height: 5rem;
}

.easy {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: green;
}

.moderate {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: rgb(237, 116, 11);
}

.hard {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: red;
}

.very-hard {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: rgb(133, 1, 1);
}

.description {
  width: 90%;
  min-height: 16rem;
  line-height: 2rem;
  margin: 4rem 0rem;
}

.map-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trailhead {
  margin: 2rem;
}

.trailhead-name {
  font-size: 2rem;
  color: greenyellow;
  transition: color 200ms ease-in;
}

.trailhead-name:hover {
  color: white;
}

.google-earth-link {
  color: greenyellow;
}

.google-earth-link:hover {
  color: #ffffff;
}

.map-text-container {
  width: 75%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submitted-by {
  margin-top: 3rem;
}

@media (max-width: 53em) {
  .trail-detail {
    width: 100%;
  }

  .info-header h1 {
    font-size: 2.3rem;
  }

  .info-sub-header {
    font-size: 0.7rem;
  }

  .star {
    transform: scale(0.7);
    top: -1rem;
    right: -1rem;
  }
}

@media (max-width: 44em) {
  .info-header h1 {
    font-size: 1.7rem;
    padding: 0.8rem 0.5rem;
    margin: 1.5rem 6rem;
  }

  .info-header h3 {
    font-size: 1.5rem;
  }
  /* .info-sub-header {
    padding: 0.5rem 0.2rem;
  } */
  .info-sub-header h3 {
    font-size: 1.2rem;
    margin: 0 0.4rem;
  }
}

@media (max-width: 40em) {
  .trail-detail {
    background-color: var(--color-main-dark);
  }

  .info-header {
    background-color: var(--color-main-dark);
  }
  .trail-stat-icon {
    height: 4rem;
  }
}

@media (max-width: 35em) {
    .trail-stat-icon {
    height: 3.5rem;
  }
}
