.trail-search {
  display: flex;
  align-items: center;
  margin: 1rem 1rem;
}

.search-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trail-search button {
  font-size: 2rem;
  font-weight: unset;
  margin: 0.5rem 1rem;
  width: 17rem;
  border-radius: 20rem;
  padding: 1rem;
  color: white;
  background: #247407;
  background: linear-gradient(0deg, #247407 21%, #32fb17 100%);
}

.trail-search optgroup {
  color: #000000;
  font-size: 17px;
}

.trail-search select {
  color: #000000;
  font-family: inherit;
  font-size: 17px;
  font-weight: 100;
  width: 30rem;
  padding-left: 0.5rem;
  height: 3.5rem;
  border-radius: 20px;
}

.trail-search .search-input {
  position: absolute;
  top: 4rem;
  font-family: inherit;
  border-radius: 100rem;
  padding-left: 0.75rem;
  height: 3.5rem;
  width: 30rem;
  font-size: 17px;
  font-weight: 100;
  border: 1px solid gray;
}

.trail-search .filter-select {
  position: absolute;
  top: 4rem;
}

@media (max-width: 48em) {
  .trail-search {
    flex-direction: column;
    margin: 1rem 1rem;
  }

  .trail-search .search-input {
    position: relative;
    top: unset;
  }

  .trail-search .filter-select {
    position: relative;
    top: unset;
  }
}
