.footer {
  min-height: 9.6rem;
  background-color: #ffffff;
  border-top: 1px solid #808080;
  color: var(--color-main-mid);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.logo {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 5rem;
}

.logo p {
  margin-left: 1rem;
}

.legal {
  font-size: 1.6rem;
}

@media (max-width: 44em) {
    .logo {
  margin-left: 2rem;
}

  .footer {
    background-color: var(--color-main-dark-2);
    color: #ffffff;
    border-top: unset;
    flex-direction: column;
    padding: 3rem 1rem;
  }
}

