.nav {
  position: absolute;
  display: none;
  width: 100%;
  height: 7rem;
  background-color: var(--color-main-dark-2);
  color: #ffffff;
  z-index: 8000;
}

.logo {
  width: 20rem;
  margin-left: 2rem;
}

.nav a {
  color: #ffffff;
}

.navigation__checkbox {
  display: none;
}

/* DISPLAY MENU WHEN CLICKED   */
/* .navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60);
} */

.navigation__checkbox:checked ~ .navigation__nav {
  /* display: block; */
  opacity: 1;
  width: 100%;
  transform: translateX(0);
}

.navigation__checkbox:checked
  ~ .navigation__nav
  .navigation__list
  .navigation__item
  .navigation__link {
  display: block;
  opacity: 1;
  width: 100%;
}
/* ICON WRAPER - VISIBLE HAMBURGER BACKGROUND */
.navigation__button {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

/* ACTIVE MENU STYLES */
.navigation__background {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: fixed;
  background-color: var(--color-main-dark-2);
  top: 1.5rem;
  right: 2rem;
  z-index: 1000;
  /* transition: transform 250ms ease-in; */
}

.navigation__nav {
  background-color: var(--color-main-dark-2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  /* transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  transition: all 150ms ease-in;
  transform: translateX(100vw);
}

/* NAVIGATION UL ELEMENT */
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* NAVIGATION LI ELEMENT */
.navigation__item {
  margin-bottom: 2.5rem;
}

.navigation__link {
  display: none;
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: uppercase;
}

.navigation__link:hover {
  color: var(--color-green-highlight);
}

.navigation__logout-btn {
  border: none;
  background-color: unset;
}

.navigation__logout-btn:hover {
  border: none;
  background-color: unset;
}

/* HAMBURGER MENU ICON */
.navigation__icon {
  position: relative;
  margin-top: 2rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #ffffff;
  display: inline-block;
  z-index: 2100;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.15s;
}

.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

/* HAMBURGER MENU ICON  ANIMATIONS*/
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

@media (max-width: 44em) {
  .nav {
    display: flex;
    justify-content: center;
    position: relative;
  }
}
