.add-trail-section {
  width: 100%;
  background-color: var(--color-main-mid);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-trail-section h1 {
  color: white;
  margin: 1.6rem;
}

.trail-form {
  border: 2px solid var(--color-main-light);
  margin-bottom: 5rem;
  width: 64rem;
  color: white;
  background-color: var(--color-main-dark);
  border-radius: 15px;
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
}

.text-row {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-input-col {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.trail-name input {
  width: 100%;
}

.number-input {
  width: 8rem;
}

.input-col {
  display: flex;
  flex-direction: column;
}

.number-group {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description {
  margin: 3.2rem 0rem;
}

.trail-form button {
  font-size: 2.4rem;
  margin-top: 3.2rem;
  width: 90%;
  padding: 2.4rem;
  text-align: center;
  color: white;
  border: none;
  background-color: var(--color-main-light);
  border-radius: 20rem;
  cursor: pointer;
  transition: 300ms;
    border: 1px solid var(--color-main-light)
}

.trail-form button:hover {
  background-color: black;
  border: 1px solid var(--color-main-light);
  
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.invalid select {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid select:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}


@media (max-width: 53em) { 
  .trail-form {
    width: 90%;
  }
}