.sign-up {
  width: 100%;
  height: 64rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  background-image: url("/public/imgs/wonderland-trail-1.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

.sign-up-form {
  width: 35.2rem;
  height: 48rem;
  padding: 1.6rem;
   background-color: #ffffffec;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 24%), 0 0 8px 0 rgb(0 0 0 / 8%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-header {
  margin-bottom: 4.8rem;
}

.signup-input {
  font-size: 17px;
  width: 32rem;
  padding: 0 0.4rem;
  height: 5rem;
  border: 1px solid #c1c1c1;
  border-radius: 7px;
  margin-bottom: 1rem;
}

.button {
  margin-bottom: 2rem;
  border: none;
  border-radius: 40px;
  color: #fff;
  background-color: var(--color-main-light);
  height: 6rem;
  width: 32rem;
  transition: all 200ms ease-in;
}

.button:hover {
  background-color: var(--color-main-mid);
}

.login {
  color: #008000;
}

.loading {
  margin-bottom: 4rem;
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}