.trail-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
}

.trail-detail {
  width: 90%;
  padding-bottom: 4rem;
  background-color: var(--color-main-mid);
  background-color: var(--color-main-dark);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 58.85rem;
  -webkit-box-shadow: 0px 3px 26px 0px #000000a3;
  -moz-box-shadow: 0px 3px 26px 0px #000000a3;
  box-shadow: 0px 3px 26px 0px #000000a3;
}

.loading-spinner {
  margin-top: 20rem;
}

.favorites-button {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 1rem;
  position: relative;
  top: 2rem;
  border: none;
  color: #adff2f;
  background-color: unset;
  cursor: pointer;
}

.favorites-button:hover {
  color: #ffffff;
}

.star {
  position: absolute;
  right: 1.5rem;
  z-index: 99;
}

.trail-detail-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 8;
  overflow-x: hidden;
}

.trail-image {
  width: 100%;
  z-index: 1;
  position: relative;
  top: -2.4rem;
  transform: scale(1.8);
}

.info-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trail-name-container {
  width: 100%;
  background-image: url("../assets/images/spectacle-lake-1.jpg");
  background-size: cover;
  background-position: 50% 10%;
  z-index: 8;
}

.trail-name-container-overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2d8302;
  background: linear-gradient(
    0deg,
    #2d830288 0%,
    #0e2901df 69%,
    #000000df 100%
  );
}

.trail-name {
  padding: 1.6rem;
  margin: 0.8rem;
  background-color: var(--color-main-green);
  background: rgb(62, 176, 12);
  background: linear-gradient(
    0deg,
    rgba(62, 176, 12, 1) 0%,
    rgba(19, 56, 1, 1) 100%
  );
  border-radius: 10px;
}

.trail-wilderness {
  margin-bottom: 0.7rem;
}

.info-sub-header {
  width: 100%;
  background-image: url("../assets/images/trail-detail-bg.jpg");
  background-size: cover;
  background-position: 50% 0%;
  z-index: 8;
  position: relative;
  top: -2.4rem;
}

.info-sub-header-overlay {
  width: 100%;
  padding: 0.5rem 0;
  background: #2d8302;
  background: linear-gradient(180deg, #2d830288 0%, #0e2901 100%);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: -1px 13px 18px -4px #000000e3;
  -webkit-box-shadow: -1px 13px 18px -4px #000000e3;
  -moz-box-shadow: -1px 13px 18px -4px #000000e3;
}

.trail-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail-stat h3 {
  line-height: 1;
}

.trail-stat-icon {
  height: 5rem;
}

.easy {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #008000;
}

.moderate {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #ed740b;
}

.hard {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #ff0000;
}

.very-hard {
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #850101;
}

.description {
  width: 70%;
  min-height: 16rem;
  line-height: 2rem;
  padding: 2rem 5rem;

}

.map-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trailhead {
  margin: 2rem;
}

.trailhead-name {
  font-size: 2rem;
  color: var(--color-green-highlight);
  transition: color 200ms ease-in;
}

.trailhead-name:hover {
  color: #ffffff;
}

.google-earth-link {
  color: var(--color-green-highlight);
}

.google-earth-link:hover {
  color: #ffffff;
}

.map-text-container {
  width: 75%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submitted-by {
  margin-top: 3rem;
}

@media (max-width: 53em) {
  .trail-detail {
    width: 100%;
  }

  .info-header h1 {
    font-size: 2.3rem;
  }

  .info-sub-header {
    font-size: 0.7rem;
  }

  .star {
    transform: scale(0.7);
    top: -1rem;
    right: -1rem;
  }
}

@media (max-width: 44em) {
  .info-header h1 {
    font-size: 1.7rem;
    padding: 0.8rem 0.5rem;
    margin: 1.5rem 6rem;
  }

  .info-header h3 {
    font-size: 1.5rem;
  }

  .info-sub-header h3 {
    font-size: 1.2rem;
    margin: 0 0.4rem;
  }
}

@media (max-width: 40em) {
  .trail-detail {
    background-color: var(--color-main-dark);
  }

  .info-header {
    background-color: var(--color-main-dark);
  }
  .trail-stat-icon {
    height: 4rem;
  }
}

@media (max-width: 35em) {
  .trail-stat-icon {
    height: 3.5rem;
  }

  .description {
    width: 90%;
  }
}
