.featured-trails-section {
  position: relative;
  width: 100%;
  min-height: 55rem;
  padding: 5rem 0;
  background-color: #fff;
  color: #000;
}

.featured-trails-section h2 {
  font-size: 4rem;
  text-align: center;
}

.media-scroller {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 32%;
  padding: 3rem 5rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-padding-inline-start: 5rem;
}

/* Scroll snapping for inline scroll behavior */
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 5rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.media-scroller::-webkit-scrollbar {
  height: 0.5rem;
  display: none;
}

.media-scroller::-webkit-scrollbar-track {
  background: gray;
}

.media-scroller::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: black;
}

.loading-message {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50% -50%);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid white;
  border-color: lime transparent lime transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 72em) {
  .media-scroller {
    grid-auto-columns: 42%;
  }
}

@media (max-width: 60em) {
  .media-scroller {
    padding: 5rem 2rem;
    scroll-padding-inline-start: 2rem;
  }
  .snaps-inline {
    scroll-padding-inline: 2rem;
  }
}

@media (max-width: 55em) {
  .media-scroller {
    grid-auto-columns: 62%;
  }
}

@media (max-width: 50em) {
  .media-scroller {
    grid-auto-columns: 72%;
  }
}

@media (max-width: 28em) {
  .media-scroller {
    grid-auto-columns: 88%;
    padding: 5rem 1rem;
    scroll-padding-inline-start: 1rem;
  }
  .snaps-inline {
    scroll-padding-inline: 1rem;
  }
}
