.featured-trail-item {
  display: grid;
  grid-template-rows: min-content;
  padding: 1rem;
  color: #000;
  border-radius: 5px;
}

.featured-trail-item a {
  color: inherit;
}

.image-container {
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  height: 30rem;
}

.featured-trail-item .image-container img {
  width: 100%;
  height: 100%;
  /* inline-size: 100%;
      aspect-ratio: 3 / 4; */
  object-fit: cover;
  transition: transform 500ms ease;
}

.featured-trail-item .image-container img:hover {
  transform: scale(1.1);
}

.trail-info h3 {
  font-weight: bold;
  padding: 1rem 0;
  font-size: 1.7rem;
  line-height: 1rem;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30rem;
}

.trail-stats {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}


@media (max-width: 28em) {
 
.featured-trail-item {
  padding: 0rem;

}
}