.current-weather-container {
  padding: 3rem;
  background-color: var(--color-main-dark-2);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
}

.current-weather-container h2 {
  margin-right: 1rem;
}

.weather-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 3rem;
}

.weather-icon {
  height: 8rem;
}

@media (max-width: 48em) {
 
}

@media (max-width: 34em) {
  .current-weather-container {
  padding: 1.5rem;
}
}
