.day-container {
  margin: 0.5rem;
  min-height: 23rem;
  padding: 1rem;
  width: 19%;
  background-color: var(--color-main-dark-2);
  border-radius: 10px;
  border: 1px solid #7a7a7a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-container p {
  text-align: center;
}

.weather-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  height: 8rem;
}

@media (max-width: 60em) {
  .weather-description {
    font-size: 1.5rem;
  }
}

@media (max-width: 53em) {
  .day-container {
    margin: 0.15rem;
    padding: 1rem;
    max-width: 19%;
  }

  .day {
    font-size: 1.8rem;
  }

  .weather-description {
    font-size: 1.2rem;
  }

  .weather-icon {
    height: 5rem;
  }

  .weather-temp {
    font-size: 1.5rem;
  }
}

@media (max-width: 32em) {
  .day-container {
    margin: 0.15rem;
    padding: 0.25rem;
    max-width: 19%;
    height: 13rem;
  }

  .day {
    font-size: 1.1rem;
  }

  .weather-description {
    font-size: 1rem;
  }

  .weather-icon {
    height: 5rem;
  }

  .weather-temp {
    font-size: 1rem;
  }
}

@media (max-width: 29em) {
  .day-container {
    min-height: 15rem;
  }
  .weather-description {
    font-size: 0.8rem;
  }
}
