.weather-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.forecast {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.forecast-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-title {
  margin-bottom: 2rem;
}

.forecast-title {
  margin-bottom: 2rem;
  font-size: 2.4rem;

}

