.message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
  margin: 2rem;
}

.button {
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    background: rgb(36,116,7);
  background: linear-gradient(0deg, rgba(36,116,7,1) 21%, rgba(50,251,23,1) 100%);
}