.featured-hike {
    width: 20rem;
    height: 18rem;
    border-radius: 10px;
    overflow: hidden;
    color: rgb(63, 63, 63);
    cursor: pointer;
    
}

.featured-hike:hover {
  animation: feature-zoom 300ms ease-in forwards
}

@keyframes feature-zoom {
    0% {
      transform:scale(1);
    }

    100% {
      transform:scale(1.05);
    }
}

.featured-hike h1 {
    color: green;
}

.featured-hike-image {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}

.featured-hike-image img {
  width: 110%;
  height: auto;
}

.featured-hike-text {
    width: 100%;
    height: 9rem;
    background-color: white;
    line-height: 1.4rem;
    display: flex;
    flex-direction: column;
    padding: .4rem;
}

.featured-hike-title {
    font-size: 1.3rem;
}