.footer {
  width: 100%;
  height: 9.6rem;
  background-color: white;
  border-top: 1px solid gray;
  color: var(--color-main-mid);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-left: 4rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 5rem;
}

.logo p {
  margin-left: 1rem;
}

.legal {
  font-size: 1.6rem;
}

.footer h2 {
  margin-left: 3.2rem;
  font-size: 1.92rem;
}

@media (max-width: 30em) {
  .footer {
    background-color: var(--color-dark);
    color: white;
    border-top: unset;
  }
}
