.home-container {
    width: 100%;
    min-height: 35rem;
    background-image: url('/public/imgs/thousand-island-lake-loop-1.jpg');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-hikes-section {
    margin: 2rem 0rem 4rem 0rem;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-hikes-section h1 {
  color: var(--secondary-green)
}


.featured-hikes-container {
    height: 25rem;
    width: 100%;
    background-color: rgb(218, 217, 217);
    display: flex;
    justify-content: space-around;
    align-items: center;
}