.logo-container {
  margin-left: 1rem;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.logo-first {
  color: black;
  background-color: yellowgreen;
  border: 2px solid black;
  padding: .25rem;
}

.logo-second {
  color: yellowgreen;
  background-color: black;
  padding: .25rem;
}