.nav {
  width: 100%;
  height: 9rem;
  color: black;
  background-color: white;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  margin-right: 3rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 4rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 5rem;
}

.logo p {
  margin-left: .5rem;
  font-size: 2.5rem;
  height: 3rem;
}

.nav-link {
  color: var(--main-color-dark);
  padding-bottom: 0.5rem;
  transition: all 200ms ease-in;
}

.nav-link:hover {
  color: green;
}

.nav-menu li a.active {
  color: green;
  border-bottom: 1px solid #008000;
}

.logout-button {
  margin-top: 0.4rem;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms ease-in-out;
  color: var(--main-color-dark);
}

.logout-button:hover {
  color: #409b40;
}

@media (max-width: 60em) {
  nav {
    flex-direction: column;
  }

  .nav-menu {
    margin-right: 0;
    width: 92%;
  }
}

@media (max-width: 44em) {
  .nav {
    display: none;
  }
}
