.trail-item {
  font-size: .7rem;
  margin: .2rem 0rem;
  border-radius: 10px;
  padding: .75rem 0rem 1.5rem 0rem;
  width: 90%;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: var(--secondary-green);
  cursor: pointer;
  transition: 300ms ease-in;
}

.trail-item h2 {
  color: var(--primary-orange);
  transition: 300ms ease-in;
}


.trail-item:hover {
  color: greenyellow;
  background-color: var(--primary-green);
  border: 1px solid greenyellow;
}

.trail-item:hover h2 {
  color: yellowgreen;
}

.secondary-info {
    font-size: .9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.secondary-info h3 {
  margin: 1rem;
  font-size: .75rem;
}