.trail-search {
  display: flex;
  align-items: center;
  margin: 5rem 1rem;
}

.search-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trail-search input {
  color: black;
  width: 18rem;
  height: 4rem;
  border-radius: 5px;
  font-size: 17px;
}

.trail-search button {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  width: 17rem;
  border-radius: 20rem;
  padding: 1rem;
  color: white;
  background: #247407;
  background: linear-gradient(
    0deg,
    #247407 21%,
    #32fb17 100%
  );
}

.trail-search optgroup {
  color: #000000;
  font-size: 17px;
}

.trail-search select {
  color: #000000;
  font-family: inherit;
  font-size: 17px;
  font-weight: 100;
  width: 30rem;
  padding-left: 0.5rem;
  height: 3.5rem;
  border-radius: 20px;
}

@media (max-width: 48em) {
  .trail-search {
    flex-direction: column;
    margin: 1rem 1rem;
  }

}
