.trail-detail {
  width: 90%;
  padding-bottom: 4rem;
  background-color: var(--secondary-green);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 58.85rem;
}

.favorites-button {
  font-size: 1.2rem;;
  margin-left: auto;
  margin-right: 1rem;
  position: relative;
  top: 2rem;
  border: none;
  color: yellowgreen;
  background-color: var(--primary-secondary);
  cursor: pointer;
}

.favorites-button:hover {
  color: white;
}

.star {
  position: absolute;
  right: 1.5rem;
}

.trail-detail a {
  color: rgb(185, 245, 65);
}

.trail-detail-info {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.trail-image {
  width: 100%;
  height: auto;
}

.info-header {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-green);

}

.info-header h1 {
 padding: 1rem;
 margin: .5rem;
 background-color: var(--green);
 border-radius: 10px;
}

.info-header h3 {
 margin-bottom: .5rem;

}

.info-sub-header {
  width: 100%;
  padding: .75rem 0;
  background-color: var(--green);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.easy {
  padding: .2rem;
  border-radius: 5px;
  background-color: green;
}

.moderate {
  padding: .2rem;
  border-radius: 5px;
  background-color: rgb(237, 116, 11);
}

.hard {
  padding: .2rem;
  border-radius: 5px;
  background-color: red
}

.very-hard {
  padding: .2rem;
  border-radius: 5px;
  background-color: rgb(133, 1, 1)
}

.description {
  width: 75%;
  min-height: 10rem;
  line-height: 2rem;
  margin: 2rem 0rem;
}

.select-trail-message {
  margin-top: 2rem;
  color: var(--primary-orange);
}

.map-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container h1{
 margin-bottom: 2rem;
}

.map-text-container {
  width: 75%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
