.trail-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail-list-container p {
  color:gray;
}

.trail-list-container h3 {
  color:gray;
}

.results-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-container h1 {
  margin-top: 4rem;
}

.trail-list {
  width: 90%;
  min-height: 49rem;
  padding: .5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-container {
  width: 80%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  width: 9.6rem;
  height: 3.36rem;
}

.pagination-button {
  width: 9rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 5px;
  background: rgb(36,116,7);
  background: linear-gradient(0deg, rgba(36,116,7,1) 21%, rgba(50,251,23,1) 100%);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 300ms ease-in;
}

.results-title {
  color: var(--secondary-green)
}

.pagination-container h3 {
  color:var(--primary-green);
}

@media (max-width: 53em) {
  .trail-list-container {
    margin-top: 10rem;
  }

  .trail-list {
  padding: 0rem;
}

.results-container h1 {
  margin-top: 3rem;
}
}

@media (max-width: 44em) {
  .trail-list-container {
    margin-top: 5rem;
  }

}