.trail-search {
  display: flex;
  align-items: center;
  margin: 5rem 1rem;
}

.search-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trail-search input {
  color: black;
  width: 18rem;
  height: 4rem;
  border-radius: 5px;
}

.trail-search button {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  width: 17rem;
  border-radius: 20rem;
  padding: 1rem;
  color: white;
  background: rgb(36, 116, 7);
  background: linear-gradient(
    0deg,
    rgba(36, 116, 7, 1) 21%,
    rgba(50, 251, 23, 1) 100%
  );
}

.trail-search optgroup {
  color: black;
  font-size: 3rem;
}

.trail-search select {
  color: black;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 100;
  width: 30rem;
  padding-left: 0.5rem;
  height: 3.5rem;
  /* border: 2px solid black; */
  border-radius: 20px;
}

@media (max-width: 48em) {
  .trail-search {
    flex-direction: column;
    margin: 1rem 1rem;
  }

}
