.trail-link {
  position: absolute;
  height: 16rem;
  width: 70%;
  z-index: 2;
}

.trail-item {
  margin: .32rem 0rem;
  border-radius: 16px;
  padding: 1.2rem .8rem;
  width: 70%;
  height: 16rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--secondary-green);
  cursor: pointer;
  transition: 300ms ease-in;
  box-shadow: 3px 3px 3px rgb(171, 171, 171);
}

.trail-item p {
  color: white;
}

.trail-item h3 {
  color: white;
}

.image-container {
  width: 25.6rem;
  height: 16rem;
  margin: 1.6rem 1.6rem 1.6rem .8rem;
  background-color: var(--secondary-green);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(1.05);
  transition: 300ms ease-in;
}

.image-container img {
  height: 100%;
  width: auto;
  border-radius: 10px;
  z-index: 5;
}

.loading-spinner {
  position: absolute;
  z-index: 1;
}

.info-container {
  min-height: 12.8rem;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.trail-item h2 {
  color: yellowgreen;
  transition: 300ms ease-in;
}


.trail-item:hover {
  background-color: var(--primary-green);
}

.trail-item:hover .image-container {
  background-color: var(--primary-green);
}

.trail-item:hover h2 {
  color: yellowgreen;
}


.miles-difficulty-container {
  display: flex;
  align-items: center;
}

.easy {
  padding: .32rem;
  border-radius: 5px;
  background-color: green;
}

.moderate {
  padding: .32rem;
  border-radius: 5px;
  background-color: rgb(237, 116, 11);
}

.hard {
  padding: .32rem;
  border-radius: 5px;
  background-color: red
}

.very-hard {
  padding: .32rem;
  border-radius: 5px;
  background-color: rgb(133, 1, 1)
}

.description {
   line-height: 2.4rem;
    height: 4.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 48rem;
  /* background-color: red; */
}


.trail-controls {
  width: 14.4rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-btn {
  /* font-size: 1rem; */
  color: white;
  width: 11.2rem;
  height: 4.8rem;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  margin: .5rem;
   z-index: 5;
}

.delete-btn {
  /* font-size: 1rem; */
  color: white;
 width: 11.2rem;
  height: 4.8rem;
  background-color: var(--green);
    display: flex;
  justify-content: center;
  align-items: center;
   border-radius: 20rem;
   border: unset;
   margin: .5rem;
   cursor: pointer;
   transition: all 200ms ease-in;
   z-index: 5;
}

.edit-btn:hover {
  background-color: black;
  color: var(--green);
}

.delete-btn:hover {
  background-color: black;
  color: var(--green);

}

@media (max-width: 53em) {
  .trail-link {
  position: absolute;
  width: 55%;
  height: 35rem;

}

  .trail-item {
    height: 40rem;
    width: 38rem;
    flex-direction: column;
  }

  .image-container {
    width: 90%;
    height: 18rem;
    margin: 1rem 0;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .info-container {
    width: 100%;
    overflow: hidden;
    align-items: center;
  }

  .star {
    display: none;
  }

  .trail-item {
  padding: 1rem 2rem;

}

.trail-controls {
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: unset;
  justify-content: space-around;
  align-items: center;
}
}




/* @media (max-width: 53em) {
  .trail-item {
    height: 18rem;
    width: 22rem;
    flex-direction: column;
  }

  .image-container {
    width: 16rem;
  }

  .image-container img {
    width: 16rem;
    height: auto;
  }

  .info-container {
    width: 100%;
    overflow: hidden;
  }

} */
