.trail-link {
  position: absolute;
  height: 16rem;
  width: 70%;
  z-index: 6;
}

.trail-item {
  margin: 0.32rem 0rem;
  border-radius: 16px;
  padding: 1.2rem 0.8rem;
  width: 70%;
  height: 16rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--color-main-mid);
  cursor: pointer;
  transition: 300ms ease-in;
  box-shadow: 3px 3px 3px rgb(171, 171, 171);
  overflow: hidden;
}

.trail-item p {
  color: white;
}

.trail-item h3 {
  color: white;
}

.image-container {
  width: 25.6rem;
  height: 16rem;
  margin: 1.6rem 1.6rem 1.6rem 0.8rem;
  background-color: var(--color-main-mid);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(1.05);
  transition: 300ms ease-in;
}

.image-container img {
  height: 100%;
  width: auto;
  border-radius: 10px;
  z-index: 10;
  object-fit: cover;
}

.loading-spinner {
  position: absolute;
  z-index: 1;
}

.info-container {
  min-height: 12.8rem;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.trail-title {
  color: yellowgreen;
  transition: 300ms ease-in;
  font-size: 2rem;
  line-height: 1.2;
}

.trail-item h3 {
  transition: 300ms ease-in;
  font-size: 1.5rem;
}

.trail-item p {
  transition: 300ms ease-in;
  font-size: 1.4rem;
}

.trail-item:hover {
  background-color: var(--color-main-dark);
}

.trail-item:hover .image-container {
  background-color: var(--color-main-dark);
}

.trail-item:hover h2 {
  color: yellowgreen;
}

.miles-difficulty-container {
  display: flex;
  align-items: center;
}

.easy {
  padding: 0.32rem;
  border-radius: 5px;
  background-color: green;
}

.moderate {
  padding: 0.32rem;
  border-radius: 5px;
  background-color: rgb(237, 116, 11);
}

.hard {
  padding: 0.32rem;
  border-radius: 5px;
  background-color: red;
}

.very-hard {
  padding: 0.32rem;
  border-radius: 5px;
  background-color: rgb(133, 1, 1);
}

.description {
  line-height: 2.4rem;
  height: 4.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 48rem;
}

.trail-controls {
  width: 14.4rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-btn {
  color: white;
  width: 11.2rem;
  height: 4.8rem;
  background-color: var(--color-main-light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  margin: 0.5rem;
  z-index: 999;
}

.delete-btn {
  color: white;
  width: 11.2rem;
  height: 4.8rem;
  background-color: var(--color-main-light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  border: unset;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  z-index: 999;
}

.edit-btn:hover {
  background-color: white;
  color: var(--color-main-dark);
}

.delete-btn:hover {
  background-color: white;
  color: var(--color-main-dark);
}

@media (max-width: 53em) {
  .trail-link {
    position: absolute;
    width: 55%;
    height: 35rem;
  }

  .trail-item {
    height: 40rem;
    width: 38rem;
    border-radius: 10px;
    flex-direction: column;
  }

  .image-container {
    width: 90%;
    height: 18rem;
    margin: 1rem 0;
    z-index: 2;
  }

  .image-container img {
    width: 100%;
    height: auto;
    z-index: 10;
  }

  .info-container {
    width: 100%;
    overflow: hidden;
    align-items: center;
  }

  .star {
    display: none;
  }

  .trail-item {
    padding: 1rem 2rem;
  }

  .trail-controls {
    width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 44em) {
  .trail-link {
    position: absolute;
    width: 99%;
    height: 32rem;
  }
  .trail-item {
    padding: 0;
    height: 40rem;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
  }

  .image-container {
    width: 100%;
    height: 19rem;
    margin: 1.6rem 0rem 1.6rem 0rem;
  }

  .image-container img {
    height: 24rem;
  }

  .info-container {
    width: 100%;
    overflow: hidden;
    align-items: center;
  }

  .star {
    display: none;
  }

  .trail-item {
    padding: 1rem 2rem;
  }
}

@media (max-width: 40em) {
  .trail-item {
    background-color: var(--color-main-dark);
    margin: 0.75rem 0rem;
    box-shadow: 3px 3px 3px #171717;
  }

  .image-container {
    background-color: var(--color-main-dark);
  }
}
