.current-weather-container {
  margin-top: 3rem;
  width: 35rem;
  background-color: var(--primary-green);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
}

.temp {
  font-size: 3rem;
}

@media (max-width: 48em) {
  .current-weather-container {
    flex-direction: column;
    width: 20rem;
    padding: 0.5rem;
  }

  .temp {
    font-size: 1.5rem;
  }
}
