.trail-item {
  font-size: 0.7rem;
  margin: 0.5rem 0rem;
  border-radius: 10px;
  padding: 0.5rem;
  width: 70%;
  height: 16rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: var(--color-main-mid);
  cursor: pointer;
  transition: 300ms ease-in;
  box-shadow: 3px 3px 3px #ababab;
}

.trail-link {
  position: absolute;
  width: 60%;
  height: 15rem;
  z-index: 66;
}

.trail-title {
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.trail-item p {
  color: #ffffff;
}

.trail-item h3 {
  font-size: 1.6rem;
  font-weight: normal;
  color: #ffffff;
}

.image-container {
  width: 24rem;
  height: 14rem;
  margin: 0rem 2rem 0rem 1rem;
  background-color: var(--color-main-mid);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(1.05);
  transition: 300ms ease-in;
}

.image-container img {
  height: 100%;
  width: auto;
  border-radius: 10px;
  z-index: 5;
}

.loading-spinner {
  position: absolute;
  z-index: 1;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.trail-item h2 {
  color: var(--color-green-highlight);

  transition: 300ms ease-in;
}

.trail-item:hover {
  background-color: var(--color-main-dark);
}

.trail-item:hover .image-container {
  background-color: var(--color-main-dark);
}


.miles-difficulty-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.easy {
  padding: 0.1rem;
  border-radius: 5px;
  background-color: #008000;
}

.moderate {
  padding: 0.1rem;
  border-radius: 5px;
  background-color: #ed740b;
}

.hard {
  padding: 0.1rem;
  border-radius: 5px;
  background-color: #ff0000;
}

.very-hard {
  padding: 0.1rem;
  border-radius: 5px;
  background-color: #850101;
}

.description-container {
  white-space: nowrap;
  width: 34rem;
}

.description {
   text-overflow: ellipsis;
   overflow: hidden;
}

.favorites-button {
  margin-left: auto;
  margin-bottom: auto;
  position: relative;
  border: none;
   color: var(--color-green-highlight);
  background-color: unset;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  z-index: 99;
}

.favorites-button:hover {
  color: #ffffff;
}

.star {
  position: absolute;
  right: 1rem;
  z-index: 9999;
}

@media (max-width: 65em) {
  .trail-item {
    width: 90%;
  }
}

@media (max-width: 48em) {
  .trail-link {
    position: absolute;
    width: 55%;
    height: 33rem;
  }

  .trail-item {
    width: 38rem;
    height: 34rem;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem 2rem;
  }

  .description-container {
    display: none;
  }

  .image-container {
    width: 99%;
    height: 25rem;
    margin: 1rem 0;
  }

  .image-container img {
    width: 100%;
    height: auto;
     height: 25rem;
    transform: scale(1.2);
  }

  .info-container {
    width: 100%;
    overflow: hidden;
    align-items: center;
  }

   .star {
    display: none;
  }
}

@media (max-width: 48em) { 
  .trail-link {
    position: absolute;
    height: 33rem;
  }

  .trail-item {
    width: 60%;
    height: 38rem;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 40em) {
  .trail-link {
    position: absolute;
    width: 99%;
    height: 34rem;
  }
  .trail-item {
    width: 98%;
    height: 38rem;
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    height: 27rem;
    margin: 1rem 0rem 0rem 0rem;
  }

  .image-container img {
    width: auto;
    height: 25rem;
  }

  .info-container {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
  }

  .trail-item {
    padding: 1rem 2rem;
  }
    .trail-item {
    background-color: var(--color-main-dark-2);
    box-shadow: 3px 3px 3px #171717;
  }

  .image-container {
    background-color: var(--color-main-dark-2);
  }
}
