.trail-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail-list-container p {
  color: #808080;
}

.results-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.trail-list {
  width: 90%;
  min-height: 49rem;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-container {
  width: 80%;
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  width: 9.6rem;
  height: 4rem;
}

.pagination-button {
  width: 9rem;
  height: 4rem;
  border-radius: 5px;
  background: #247407;
  background: linear-gradient(
    0deg,
    #247407 21%,
    #32fb17 100%
  );
  color: #ffffff;
  cursor: pointer;
  transition: 300ms ease-in;
}

.results-title {
  color: var(--color-main-dark);
}

.pagination-container h3 {
  color: var(--color-main-dark);
}

@media (max-width: 45em) {
  .trail-list-container {
    margin-top: 10rem;
  }

  .trail-list {
    padding: 0rem;
  }

  .results-container {
    margin-top: 4rem;
  }
}

@media (max-width: 44em) {
  .trail-list-container {
    margin-top: 7rem;
  }

  .results-title {
    font-size: 2rem;
  }
}

@media (max-width: 40em) {
 .results-title {
  color: #ffffff;
}

.trail-list-container p {
  color: #cecece;
}

.pagination-container h3 {
  color: #ffffff;
}
}
