:root {
  --green: rgb(122, 171, 24);
  --primary-green: rgb(30, 34, 24);
  --secondary-green: rgb(42, 55, 42);
  --quatrary-green: rgb(42, 55, 42);
  --tertiary-green: rgb(192, 247, 83);
  --primary-orange: rgb(238, 117, 72);
  --secondary-orange: rgb(196, 63, 14);
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .05rem;
  overflow: hidden;
}

button {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .05rem;
}

select {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .05rem;
}

.leaflet-container {
  width: 50rem;
  height: 35rem;
}

@media (max-width: 56em) {
  .leaflet-container {
  width: 35rem;
  height: 35rem;
}
}

@media (max-width: 40em) {
  .leaflet-container {
  width: 23rem;
  height: 23rem;
}
}
