:root {
  --color-main-light: #7aab18;
  --color-main-mid: #2a372a;
  --color-main-dark: #1e2218;

  --color-main-dark-2: #151811;

  --color-text-grey: #808080;

  --main-color-bg-light: #f4f4f4;
  --main-color-bg-dark: #14170f;
}

@font-face {
  font-family: "barlow";
  src: url("./fonts/Barlow-Thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "barlow";
  src: url("./fonts/Barlow-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'barlow';
    src: url('./fonts/Barlow-Light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}



@font-face {
  font-family: "barlow";
  src: url("./fonts/Barlow-Medium-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 65em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Raleway", "barlow", sans-serif;
  font-weight: 200;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

@media (max-width: 40em) {
 body {
    background-color: black;
 }
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  font-size: 1.6rem;
  border: unset;
  font-family: inherit;
  cursor: pointer;
}

label {
  font-size: 1.6rem;
}

.leaflet-container {
 width: 100rem;
  height: 60rem;
}

@media (max-width: 70em) {
  .leaflet-container {
  width: 80rem;
  height: 50rem;
}
}

@media (max-width: 60em) {
  .leaflet-container {
  width: 80rem;
  height: 50rem;
}
}


@media (max-width: 50em) {
  .leaflet-container {
  width: 70rem;
  height: 40rem;
}
}

@media (max-width: 40em) {
  .leaflet-container {
  width: 55rem;
  height: 40rem;
}
}

@media (max-width: 32em) {
  .leaflet-container {
  width: 55rem;
  height: 40rem;
}
}

@media (max-width: 30em) {
  .leaflet-container {
  width: 40rem;
  height: 40rem;
}
}

