:root {
  --main-color-1: #7f4ab5;
  --main-color-2: #cd32b3;
  --main-color-1-hover: #6b3d9a;
  --main-big-med-navy: #32324a;
  --main-big-med-navy-trans: #32324aa7;
  --white-overlay: #ffffffd7;
  --main-black-trans-dark: #020202bf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 65em) {
  html {
    font-size: 55%;
  }
}

/* @media (max-width: 40em) {
  html {
    font-size: 50%;
  }
} */

body {
  overflow-x: hidden;
  width: 100%;
  font-family: "barlow", sans-serif;
  font-weight: 200;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  font-size: 1.6rem;
  border: unset;
}

label {
  font-size: 1.6rem;
}


